<form class="{{cssClass}} flexcol" autocomplete="off">

    {{!-- Sheet Header --}}
    <header>
        <div class="part-header">
          <div class="dark-box">/// Part One</div>
          <div class="medium-box">Core Information >>></div>
        </div>
        <div class="ability flexrow flex-center">
          <div class="sheet-data-flex">
            <div class="data-key">Name :</div>
            <input class="data-value" input name="name" type="text" value="{{actor.name}}" placeholder="Name"/>
          </div>
          <div class="sheet-data-flex">
            <label class="data-key" for="data.personality.value" class="resource-label">Personality</label>
            <input class="data-value" type="text" name="data.personality.value" value="{{data.personality.value}}" data-dtype="String"/>
          </div>
      </div>

      <div class="ability flexrow flex-center">
        <div class="sheet-data-flex">
          <label class="data-key" for="data.gender.value" class="resource-label">Gender</label>
            <input class="data-value" type="text" name="data.gender.value" value="{{data.gender.value}}" data-dtype="String"/>
        </div>
        <div class="sheet-data-flex">
          <label class="data-key" for="data.clearence.value" class="resource-label">Security Clearence</label>
          <input class="data-value" type="text" name="data.clearence.value" value="{{data.clearence.value}}" data-dtype="String"/>
        </div>
        <div class="sheet-data-flex">
          <label class="data-key" for="data.homesec.value" class="resource-label">Home Sector</label>
          <input class="data-value" type="text" name="data.homesec.value" value="{{data.homesec.value}}" data-dtype="String"/>
        </div>
        <div class="sheet-data">
          <label class="data-key" for="data.clones.value" class="resource-label">Clones</label>
          <input class="data-number" type="text" name="data.clones.value" value="{{data.clones.value}}" data-dtype="Number"/>
        </div>
      </div>
      
        <div class="part-header">
          <div class="dark-box">/// Part Two</div>
          <div class="medium-box">Core Development >>></div>
        </div>

    <div class="ability flexrow flex-center">
      <div class="sheet-data-flex">
        <label class="data-key" for="data.treason.value" class="resource-label">Treason Stars</label>
        <input class="data-value" type="text" name="data.treason.value" value="{{data.treason.value}}" data-dtype="Number"/>
      </div>
      <div class="sheet-data-flex">
        <label class="data-key" for="data.xp.value" class="resource-label">Xp Points</label>
        <input class="data-value" type="text" name="data.xp.value" value="{{data.xp.value}}" data-dtype="Number"/>
      </div>
    </div>
      <div class="sub-part">Stats >>></div>

      <div class="sheet-data-flex">
        {{#each data.stats as |stat statID|}}
            <label class="data-key" for="data.stats.{{statID}}.value" class="resource-label">{{statID}}</label>
            <input class="data-value" type="text" name="data.stats.{{statID}}.value" value="{{stat.value}}" data-dtype="Number"/>
        {{/each}} 
      </div>

      <div class="part-header">
        <div class="dark-box">/// Part Three</div>
        <div class="medium-box">SKills >>></div>
      </div>

      <div class="abilities grid grid-4col">
        {{#each data.skills as |skill skillID|}}
          <div class="ability flexrow flex-center">
            <label class="data-key" for="data.skills.{{skillID}}.value" class="resource-label">{{skillID}}</label>
            <input class="data-value" type="text" name="data.skills.{{skillID}}.value" value="{{skill.value}}" data-dtype="Number"/>
          </div>
        {{/each}}
      </div>

      <div class="part-header">
        <div class="dark-box">/// Part Four</div> 
        <div class="medium-box">Wellbeing >>></div>
      </div>

      <div class="abilities grid grid-2col">
      <div class="sheet-trackdata">
          <div class="trackdata-key">moxie</div>
          <div class="trackdata-value">
            <input type="hidden" name="data.moxie.value" data-max="{{data.moxie.max}}" value="{{data.moxie.value}}" data-dtype="Number"/>
            <div class="click-stat-level" title="clicke me" >{{{data.moxie.icon}}}</div>
          </div>
      </div>
      <div class="sheet-trackdata">
        <div class="trackdata-key">damage >>></div>
          <div class="trackdata-value">
            <input type="hidden" name="data.damage.value" data-max="{{data.damage.max}}" value="{{data.damage.value}}" data-dtype="Number"/>
              <div class="click-stat-level sheet-data-flex-nopad" title="clicke me" >{{{data.damage.icon}}}</div>
          </div>
      </div>
    </div>

    <div class="sheet-trackdata">
      <div class="trackdata-key">Memory >>></div>
      <div class="trackdata-value">ZB</div>
    </div>
        
        <br>

    <div class="part-header">
      <div class="dark-box">/// Part Five</div>
      <div class="medium-box">Equipment >>></div>
    </div>
        
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="core">Core</a>
        <a class="item" data-tab="stats">Stats & Skills</a>
        <a class="item" data-tab="wellbeing">Wellbeing</a>
        <a class="item" data-tab="description">Description</a>
        <a class="item" data-tab="items">Items</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

      {{!-- Core Tab --}}
        <div class="tab biography" data-group="primary" data-tab="core">
<!--
          <div class="ability flexrow flex-group-center">
            <label for="data.clones.value" class="resource-label">Clones</label>
            <input type="text" name="data.clones.value" value="{{data.clones.value}}" data-dtype="Number"/>
          </div>
          <div class="ability flexrow flex-group-center">
            <label for="data.treason.value" class="resource-label">Treason Stars</label>
            <input type="text" name="data.treason.value" value="{{data.treason.value}}" data-dtype="Number"/>
          </div>
          <div class="ability flexrow flex-group-center">
            <label for="data.xp.value" class="resource-label">Xp Points</label>
            <input type="text" name="data.xp.value" value="{{data.xp.value}}" data-dtype="Number"/>
          </div>
          <div class="ability flexrow flex-group-center">
            <label for="data.personality.value" class="resource-label">Personality</label>
            <input type="text" name="data.personality.value" value="{{data.personality.value}}" data-dtype="String"/>
          </div>
          <br>
          <div class="ability flexrow flex-group-center">
            <label for="data.clearence.value" class="resource-label">Security Clearence</label>
            <input type="text" name="data.clearence.value" value="{{data.clearence.value}}" data-dtype="String"/>
          </div>
          <div class="ability flexrow flex-group-center">
            <label for="data.homesec.value" class="resource-label">Home Sector</label>
            <input type="text" name="data.homesec.value" value="{{data.homesec.value}}" data-dtype="String"/>
          </div> 
          <div class="ability flexrow flex-group-center">
            <label for="data.gender.value" class="resource-label">Gender</label>
            <input type="text" name="data.gender.value" value="{{data.gender.value}}" data-dtype="String"/>
          </div>
          -->
        </div>

        {{!-- stats and skills Tab --}}
        <div class="tab biography" data-group="primary" data-tab="stats">
          <div>Stats</div>
          <div class="abilities grid grid-4col"><!--
            {{#each data.stats as |stat statID|}}
              <div class="ability flexrow flex-group-center">
                <label for="data.stats.{{statID}}.value" class="resource-label">{{statID}}</label>
                <input type="text" name="data.stats.{{statID}}.value" value="{{stat.value}}" data-dtype="Number"/>
              </div>
            {{/each}} 
          </div>
          <div>Skills</div>
            <div class="abilities grid grid-4col">
              {{#each data.skills as |skill skillID|}}
                <div class="ability flexrow flex-group-center">
                  <label for="data.skills.{{skillID}}.value" class="resource-label">{{skillID}}</label>
                  <input type="text" name="data.skills.{{skillID}}.value" value="{{skill.value}}" data-dtype="Number"/>
                </div>
              {{/each}} -->
            </div>
          </div>
        </div>

        {{!-- Wellbeing Tab --}}
   
        <div class="tab biography" data-group="primary" data-tab="wellbeing"> 
          <!---<div class="abilities grid grid-2col">
            <div class="ability flexrow flex-group-center">
            <label class="resource-label">Moxie</label>
            <input type="hidden" name="data.moxie.value" data-max="{{data.moxie.max}}" value="{{data.moxie.value}}" data-dtype="Number">
                <span class="click-stat-level" title="click" >{{{data.general.radiation.icon}}}Stuff
                </span>
            </div>--->
            <div class="ability flexrow flex-group-center">
              <label for="data.moxie.max" class="resource-label">Moxie Max</label>
              <input type="text" name="data.moxie.max" value="{{data.moxie.max}}" data-dtype="Number"/>
            </div> <!---
          </div>
          <label class="resource-label">Hurt, Injured, Maimed, Dead</label>
          <div class="ability flexrow flex-group-center">
            <label for="data.wounds.value" class="resource-label">Wounds</label>
            <input type="text" name="data.wounds.value" value="{{data.wounds.value}}" data-dtype="String"/>
          </div> --->
        </div>

        {{!-- Biography Tab --}}
        <div class="tab biography" data-group="primary" data-tab="description">
            {{editor content=data.biography target="data.biography" button=true owner=owner editable=editable}}
        </div>

        {{!-- Owned Items Tab --}}
        <div class="tab items" data-group="primary" data-tab="items">
            <ol class="items-list">
                <li class="item flexrow item-header">
                  <div class="item-image"></div>
                  <div class="item-name">Name</div>
                  <div class="item-controls">
                    <a class="item-control item-create" title="Create item" data-type="item"><i class="fas fa-plus"></i> Add item</a>
                  </div>
                </li>
            {{#each actor.items as |item id|}}
                <li class="item flexrow" data-item-id="{{item._id}}">
                    <div class="item-image"><img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/></div>
                    <h4 class="item-name">{{item.name}}</h4>
                    <div class="item-controls">
                        <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                        <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                    </div>
                </li>
            {{/each}}
            </ol>
        </div>

    </section>
</form>

